@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');


    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }

*{
 margin: 0;
 padding: 0;
}


body{
    min-height: 80vh;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    color: hwb(0 100% 0% / 0.5);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
}

main{

    display: flex;
    flex-direction: column;
    width: 70%;
    min-width: 320px;
}

.cards-container__card{
    max-width: 100%;
    min-height: 330px;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: start;
    padding: 2rem;
}

.card-1{
    background-color: hsl(31, 77%, 52%) ;
}

.card-2{
    background-color: hsl(184, 100%, 22%) ;
}
.card-3{
    background-color: hsl(179, 100%, 13%);
}

img{
    height: 13%;
    width: 23%;
}

h2{
    font-family: 'Big Shoulders Display', cursive;
    font-size: 2.5rem;
    color: white;
}



p{
    margin-right: 3%;

}


button{
    border-radius: 25px;
    border-style: none;
    width: 60%;
    height: 15%;
}

.button-1{
    color:  hsl(31, 77%, 52%) ;
}

.button-2{
color:hsl(184, 100%, 22%)
}

.button-3{
    color: hsl(179, 100%, 13%);
}

button:hover{
    border: 2px solid hsl(0, 0%, 95%);
    cursor: pointer;


}

.button-1:hover{
    background-color: hsl(31, 77%, 52%);
    color: hsl(0, 0%, 95%);;
}

.button-2:hover{
    background-color: hsl(184, 100%, 22%);
    color: hsl(0, 0%, 95%);;
}

.button-3:hover{
    background-color: hsl(179, 100%, 13%);
    color: hsl(0, 0%, 95%);;
}


@media (min-width: 944px) {
    main{
        flex-direction: row;
        height: 80%;
    }
.cards-container__card{
    height: 50vh;
    padding: 4%;
}
p{
    font-size: 18px;
}
button{
    height: 3rem;
    margin-top: 30%;
}

}